@inherits LayoutComponentBase
@using jasonisdunn.Shared;

@if (!collapseNavMenu)
{
    <div class="page">  
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="my-toggle-off">
    <MudToggleIconButton Toggled="@collapseNavMenu" ToggledChanged="ToggleNavMenu"
    Icon="@Icons.Material.Filled.Menu" Color="@Color.Dark" Title="Menu Toggle Off"
    ToggledIcon="@Icons.Material.Filled.Menu" ToggledColor="@Color.Dark" ToggledTitle="Menu Toggle On"
    Style="width:30px; left:3px; top:45vh"/>
    </div>
        <main>
            @if (!LoggedIn)
            {
                <div>   
                    <MudAppBar Color="Color.Transparent" Fixed="true" Elevation="0">
                        <MudAppBarSpacer />
                        <MudTooltip Text="Register">
                            <MudIconButton Icon="@Icons.Material.Rounded.Assignment" Variant="Variant.Filled"Color="Color.Info" Size="Size.Small"  Link="/"
           Target="_blank"  Style="margin:10px;" ></MudIconButton> 
                        </MudTooltip>
                        <MudTooltip Text="Login">
                            <MudIconButton Icon="@Icons.Material.Rounded.Login" Variant="Variant.Filled"  Color="Color.Info" Size="Size.Small" Link="/"
           Target="_blank"></MudIconButton>
                        </MudTooltip>
                    </MudAppBar> 
                           <MudAppBar Fixed="true" Bottom="true" Elevation="0" Style="@($"color:{Colors.Blue.Accent2}; background:{Colors.Blue.Accent2};")">
                    <MudAppBarSpacer /> 
                         <MudIconButton Icon="@Icons.Material.Filled.ContactMail" Variant="Variant.Filled"  Color="Color.Info" Size="Size.Small"Link="/email"></MudIconButton> 
           <MudAppBarSpacer /> 
                     </MudAppBar>  
                    <table class="hiddentable">
                        <tr><td></td>
                            <td><table class="maintable" >
                                    <tr style="height:3px">
                                        <td colspan="10"></td>
                                        <td colspan="1">
                                            <i class="" aria-hidden="true">   </i>
                                        </td>
                                        <td colspan="1">
                                            <i class="" aria-hidden="true">   </i>
                                        </td>
                                    </tr>
                                    <tr style="height:8px">
                                        <td colspan="10"></td>
                                        <td colspan="1" style=" text-align:center">

                                            <i  aria-hidden="true">   </i>
                                        </td>
                                        <td colspan="1" style=" text-align:center">

                                            <i  aria-hidden="true">   </i>
                                        </td>
                                    </tr>
                                    <tr style="height:10px">
                                        <td colspan="10"></td>
                                        <td colspan="1" style=" text-align:left"></td>
                                        <td colspan="1" style=" text-align:left"></td>
                                    </tr>
                                </table>  
                            </td>
                        </tr>
                    </table>
                </div>
            }
            else
            {
                <div>
                    <table class="hiddentable">
                        <tr><td></td>
                            <td><table class="alttable" >
                                    <tr style="height:3px">
                                        <td colspan="10"></td>
                                        <td colspan="1">
                                            <i class="" aria-hidden="true">   </i>
                                        </td>
                                        <td colspan="1">
                                            <i class="" aria-hidden="true">   </i>
                                        </td>
                                    </tr>
                                    <tr style="height:5px">
                                        <td colspan="10"></td>
                                        <td colspan="1" style=" text-align:center">
                                            <i class="fa fa-smile-o" aria-hidden="true"></i>
                                        </td>
                                        <td colspan="1" style="text-align:center">
                                            <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                    <tr style="height:10px">
                                        <td colspan="10"></td>
                                        <td colspan="1">Hello, @UserName!</td>
                                        <td colspan="1" style=" text-align:center"><NavLink href="" class="nav-item nav-link">Logout</NavLink></td>
                                    </tr>
                                </table>  
                            </td>
                        </tr>
                    </table>  
                </div>
            }
            <article class="content px-4">
                @Body 
            </article>

        </main>
        
    </div>
}
else
{
    <div class="page">    
                <div class="my-toggle-on">
                <MudToggleIconButton Toggled="@collapseNavMenu" ToggledChanged="ToggleNavMenu"
                Icon="@Icons.Material.Filled.Menu" Color="@Color.Dark" Title="Men Toggle Off"
                ToggledIcon="@Icons.Material.Filled.Menu" ToggledColor="@Color.Dark" ToggledTitle="Menu Toggle On"
                Style="width:30px; left:0px; top:45vh"/>
                </div>
        <main>
            @if (!LoggedIn)
            {
                <div>   
                    <MudAppBar Color="Color.Transparent" Fixed="true" Elevation="0">
                        <MudAppBarSpacer />
                        <MudTooltip Text="Register">
                            <MudIconButton Icon="@Icons.Material.Rounded.Assignment" Variant="Variant.Filled"Color="Color.Info" Size="Size.Small" Link="/"
           Target="_blank" Style="margin:10px;" ></MudIconButton> 
                        </MudTooltip>
                        <MudTooltip Text="Login">
                            <MudIconButton Icon="@Icons.Material.Rounded.Login" Variant="Variant.Filled"  Color="Color.Info" Size="Size.Small" Link="/"
           Target="_blank"></MudIconButton>
                        </MudTooltip>
                    </MudAppBar>  
                     <MudAppBar Fixed="true" Bottom="true" Elevation="0" Style="@($"color:{Colors.Blue.Accent2}; background:{Colors.Blue.Accent2};")">
                    <MudAppBarSpacer /> 
                         <MudIconButton Icon="@Icons.Material.Filled.ContactMail" Variant="Variant.Filled"  Color="Color.Info" Size="Size.Small" Link="/email"></MudIconButton>  
           <MudAppBarSpacer /> 
                     </MudAppBar>  
                    <table class="hiddentable">
                        <tr><td></td>
                            <td><table class="maintable" >
                                    <tr style="height:3px">
                                        <td colspan="10"></td>
                                        <td colspan="1">
                                            <i class="" aria-hidden="true">   </i>
                                        </td>
                                        <td colspan="1">
                                            <i class="" aria-hidden="true">   </i>
                                        </td>
                                    </tr>
                                    <tr style="height:8px">
                                        <td colspan="10"></td>
                                        <td colspan="1" style=" text-align:center">

                                            <i  aria-hidden="true">   </i>
                                        </td>
                                        <td colspan="1" style=" text-align:center">

                                            <i  aria-hidden="true">   </i>
                                        </td>
                                    </tr>
                                    <tr style="height:10px">
                                        <td colspan="10"></td>
                                        <td colspan="1" style=" text-align:left"></td>
                                        <td colspan="1" style=" text-align:left"></td>
                                    </tr>
                                </table>  
                            </td>
                        </tr>
                    </table>
                </div>
            }
            else
            {
                <div>
                    <table class="hiddentable">
                        <tr><td></td>
                            <td><table class="alttable" >
                                    <tr style="height:3px">
                                        <td colspan="10"></td>
                                        <td colspan="1">
                                            <i class="" aria-hidden="true">   </i>
                                        </td>
                                        <td colspan="1">
                                            <i class="" aria-hidden="true">   </i>
                                        </td>
                                    </tr>
                                    <tr style="height:5px">
                                        <td colspan="10"></td>
                                        <td colspan="1" style=" text-align:center">
                                            <i class="fa fa-smile-o" aria-hidden="true"></i>
                                        </td>
                                        <td colspan="1" style="text-align:center">
                                            <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                    <tr style="height:10px">
                                        <td colspan="10"></td>
                                        <td colspan="1">Hello, @UserName!</td>
                                        <td colspan="1" style=" text-align:center"><NavLink href="" class="nav-item nav-link">Logout</NavLink></td>
                                    </tr>
                                </table>  
                            </td>
                        </tr>
                    </table>  
                </div>
            }
            <article class="content px-4">
                @Body 
            </article>
        </main>
    </div>   
}
@code{
    bool LoggedIn, LoggedOut;
    string UserName;

    public bool collapseNavMenu { get; set; }
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu(bool toggled)
    {
        collapseNavMenu = toggled;
        if (collapseNavMenu)
        {
            collapseNavMenu = !collapseNavMenu;
            collapseNavMenu = true;
        }  
        else
        {
            collapseNavMenu = false; 
        }  
    }
}