@inherits LayoutComponentBase
@using jasonisdunn.Shared.States;
@using jasonisdunn.Data;
@inject MainState AppState
@inject StatusService StatusService
@inject AssemblyVersionService AssemblyVersionService
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStore
@inject Blazored.SessionStorage.ISessionStorageService localSession

@if (!pp_CollapseNavMenu)
{
	<div class="page">
		<div class="sidebar">
			<NavMenu />
		</div>
				<div class="my-toggle-off">
				<MudAppBar Elevation="0" Fixed="false" Color="Color.Transparent" Style="float:right; height:40vh"/>
				<MudTooltip Text="Menu Toggle Off" Placement="Placement.Right">
					<MudToggleIconButton Toggled="@pp_CollapseNavMenu" ToggledChanged="ToggleNavMenu"
									 Icon="@Icons.Material.Filled.Menu" Color="@Color.Dark"
									 ToggledIcon="@Icons.Material.Filled.Menu" ToggledColor="@Color.Dark"
									 Style="width:30px; top:-12px; left:3px" />
				</MudTooltip>
			</div>	
		<MudAppBar Elevation="0" Fixed="true" Bottom="true" Style="@($"color:{Colors.Blue.Accent2}; background:{Colors.Blue.Accent2};")">
			<MudElement Style="width:104px;  text-align:left"><code style="color:white">@AppState.ppstrAssemblyVersion</code></MudElement>
			<MudSpacer />
			<MudElement Style="width:148px; line-height:10px; text-align:left;"><code style="color:white">&copy;2021 jasonisdunn</code></MudElement>
			<MudSpacer />
			<MudElement Style="width:66px; line-height:10px; text-align:center"><code style="color:white">Contact Support </code></MudElement>
			<MudIconButton Icon="@Icons.Material.Filled.ContactMail" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" Link="email" OnClick="@NavigateToEmail"></MudIconButton>
		</MudAppBar>
		<main>
			<br />
			<h2>@AppState.ppstrRegister </h2>
			@if (!AppState.ppboolLoggedIn)
			{
				@if (Convert.ToBoolean(!AppState.ppboolRegister))
				{
				<div>
					<MudAppBar Elevation="0" Fixed="true" Color="Color.Transparent">
						<MudSpacer />
						<MudTooltip Text="Register" Style="padding-top:30px" Placement="Placement.Bottom">
							<MudIconButton Icon="@Icons.Material.Rounded.Assignment" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" Link="/session/register" Style="margin:10px"></MudIconButton>
						</MudTooltip>
						<MudTooltip Text="Login" Style="padding-top:30px" Placement="Placement.Bottom">
							<MudIconButton Icon="@Icons.Material.Rounded.Login" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" Link="/session/login" Style="margin:10px"></MudIconButton>
						</MudTooltip>
					</MudAppBar>		
					<table class="hiddentable">
						<tr>
							<td></td>
							<td>
								<table class="maintable">
									<tr style="height:3px">
										<td colspan="10"></td>
										<td colspan="1">
											<i class="" aria-hidden="true">   </i>
										</td>
										<td colspan="1">
											<i class="" aria-hidden="true">   </i>
										</td>
									</tr>
									<tr style="height:8px">
										<td colspan="10"></td>
										<td colspan="1" style=" text-align:center">

											<i aria-hidden="true">   </i>
										</td>
										<td colspan="1" style=" text-align:center">

											<i aria-hidden="true">   </i>
										</td>
									</tr>
									<tr style="height:10px">
										<td colspan="10"></td>
										<td colspan="1" style=" text-align:left"></td>
										<td colspan="1" style=" text-align:left"></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					</div>
				}
				else
				{
				<div>
					<MudAppBar Elevation="0" Fixed="true" Color="Color.Transparent">
						<MudSpacer />
						<MudTooltip Text="Login" Style="padding-top:30px" Placement="Placement.Bottom">
							<MudIconButton Icon="@Icons.Material.Rounded.Login" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" Link="/session/login" Style="margin:10px"></MudIconButton>
						</MudTooltip>
					</MudAppBar>		
					<table class="hiddentable">
						<tr>
							<td></td>
							<td>
								<table class="maintable">
									<tr style="height:3px">
										<td colspan="10"></td>
										<td colspan="1">
											<i class="" aria-hidden="true">   </i>
										</td>
										<td colspan="1">
											<i class="" aria-hidden="true">   </i>
										</td>
									</tr>
									<tr style="height:8px">
										<td colspan="10"></td>
										<td colspan="1" style=" text-align:center">

											<i aria-hidden="true">   </i>
										</td>
										<td colspan="1" style=" text-align:center">

											<i aria-hidden="true">   </i>
										</td>
									</tr>
									<tr style="height:10px">
										<td colspan="10"></td>
										<td colspan="1" style=" text-align:left"></td>
										<td colspan="1" style=" text-align:left"></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</div>
				}
			}
			else
			{
				<div>
					<MudAppBar Elevation="0" Fixed="true" Color="Color.Transparent">
					<MudSpacer />
					<MudTooltip Text="" Style="padding-top:30px" Placement="Placement.Bottom">
						</MudTooltip>
						<MudElement><h4>Hello, @AppState.ppstrUserName!</h4></MudElement>
						<MudIcon Icon="@Icons.Material.Rounded.SentimentSatisfiedAlt" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small"></MudIcon>	
						<MudTooltip Text="Logout" Style="padding-top:30px" Placement="Placement.Bottom">
							<MudIconButton Icon="@Icons.Material.Rounded.Logout" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" OnClick="@NavigateToLogout"  Style="margin:10px"></MudIconButton>
						</MudTooltip>
					</MudAppBar>
					<table class="hiddentable">
						<tr>
							<td></td>
							<td>
								<table class="alttable">
									<tr style="height:3px">
										<td colspan="10"></td>
										<td colspan="1">
											<i class="" aria-hidden="true">   </i>
										</td>
										<td colspan="1">
											<i class="" aria-hidden="true">   </i>
										</td>
									</tr>
									<tr style="height:5px">
										<td colspan="10"></td>
										<td colspan="1" style=" text-align:center">
											<i class="" aria-hidden="true"></i>
										</td>
										<td colspan="1" style="text-align:center">
											<i class="" aria-hidden="true"></i>
										</td>
									</tr>
									<tr style="height:10px">
										<td colspan="10"></td>
										<td colspan="1" style=" text-align:center"></td>
										<td colspan="1"></td>									
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</div>
			}
			<article class="content px-4">
				@if (@AppState.ppboolLoggedIn)
				{
					<h3>@AppState.ppstrEmailAddress</h3>
					<h3>@AppState.ppguidGuid</h3>
				}

				@Body
			</article>
		</main>
	</div>
}
else
{
	<div class="page">
		<div class="my-toggle-on">
			<MudAppBar Elevation="0" Fixed="false" Color="Color.Transparent" Style="float:right; height:40vh"/>
			<MudTooltip Text="Menu Toggle On" Placement="Placement.Right">
				<MudToggleIconButton Toggled="@pp_CollapseNavMenu" ToggledChanged="ToggleNavMenu"
								 Icon="@Icons.Material.Filled.Menu" Color="@Color.Dark"
								 ToggledIcon="@Icons.Material.Filled.Menu" ToggledColor="@Color.Dark"
								 Style="width:30px; top:-12px" />
			</MudTooltip>
		</div>
		<MudAppBar Elevation="0" Fixed="true" Bottom="true" Style="@($"color:{Colors.Blue.Accent2}; background:{Colors.Blue.Accent2};")">
			<MudElement Style="width:104px;  text-align:left"><code style="color:white">@AppState.ppstrAssemblyVersion </code></MudElement>
			<MudSpacer />
			<MudElement Style="width:148px; line-height:10px; text-align:left;"><code style="color:white">&copy;2021 jasonisdunn</code></MudElement>
			<MudSpacer />
			<MudElement Style="width:66px; line-height:10px; text-align:center"><code style="color:white">Contact Support </code></MudElement>
			<MudIconButton Icon="@Icons.Material.Filled.ContactMail" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" Link="/email"></MudIconButton>
		</MudAppBar>
		<main>
			<br />
			<h2>@AppState.ppstrRegister </h2>
			@if (!AppState.ppboolLoggedIn)
			{
				@if (Convert.ToBoolean(!AppState.ppboolRegister))
				{
					<div>
						<MudAppBar Elevation="0" Fixed="true" Color="Color.Transparent">
							<MudSpacer />
							<MudTooltip Text="Register" Style="padding-top:30px" Placement="Placement.Bottom">
								<MudIconButton Icon="@Icons.Material.Rounded.Assignment" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" Link="/session/register" Style="margin:10px;"></MudIconButton>
							</MudTooltip>
							<MudTooltip Text="Login" Style="padding-top:30px" Placement="Placement.Bottom">
								<MudIconButton Icon="@Icons.Material.Rounded.Login" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" Link="/session/login" Style="margin:10px"></MudIconButton>
							</MudTooltip>
						</MudAppBar>
						<table class="hiddentable">
							<tr>
								<td></td>
								<td>
									<table class="maintable">
										<tr style="height:3px">
											<td colspan="10"></td>
											<td colspan="1">
												<i class="" aria-hidden="true">   </i>
											</td>
											<td colspan="1">
												<i class="" aria-hidden="true">   </i>
											</td>
										</tr>
										<tr style="height:8px">
											<td colspan="10"></td>
											<td colspan="1" style=" text-align:center">

												<i aria-hidden="true">   </i>
											</td>
											<td colspan="1" style=" text-align:center">

												<i aria-hidden="true">   </i>
											</td>
										</tr>
										<tr style="height:10px">
											<td colspan="10"></td>
											<td colspan="1" style=" text-align:left"></td>
											<td colspan="1" style=" text-align:left"></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</div>
				}
				else
				{
					<div>
						<MudAppBar Elevation="0" Fixed="true" Color="Color.Transparent">
							<MudSpacer />
							<MudTooltip Text="Login" Style="padding-top:30px" Placement="Placement.Bottom">
								<MudIconButton Icon="@Icons.Material.Rounded.Login" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" Link="/session/login" Style="margin:10px"></MudIconButton>
							</MudTooltip>
						</MudAppBar>		
						<table class="hiddentable">
							<tr>
								<td></td>
								<td>
									<table class="maintable">
										<tr style="height:3px">
											<td colspan="10"></td>
											<td colspan="1">
												<i class="" aria-hidden="true">   </i>
											</td>
											<td colspan="1">
												<i class="" aria-hidden="true">   </i>
											</td>
										</tr>
										<tr style="height:8px">
											<td colspan="10"></td>
											<td colspan="1" style=" text-align:center">
												<i aria-hidden="true">   </i>
											</td>
											<td colspan="1" style=" text-align:center">

												<i aria-hidden="true">   </i>
											</td>
										</tr>
										<tr style="height:10px">
											<td colspan="10"></td>
											<td colspan="1" style=" text-align:left"></td>
											<td colspan="1" style=" text-align:left"></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</div>
				}
			}
			else
			{
				<div>
					<MudAppBar Elevation="0" Fixed="true" Color="Color.Transparent">
					<MudSpacer />
					<MudTooltip Text="" Style="padding-top:30px" Placement="Placement.Bottom">
						</MudTooltip>
						<MudElement><h4>Hello, @AppState.ppstrUserName!</h4></MudElement>
						<MudIcon Icon="@Icons.Material.Rounded.SentimentSatisfiedAlt" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small"></MudIcon>	
						<MudTooltip Text="Logout" Style="padding-top:30px" Placement="Placement.Bottom">
							<MudIconButton Icon="@Icons.Material.Rounded.Logout" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" OnClick="@NavigateToLogout"  Style="margin:10px"></MudIconButton>
						</MudTooltip>
					</MudAppBar>
					<table class="hiddentable">
						<tr>
							<td></td>
							<td>
								<table class="alttable">
									<tr style="height:3px">
										<td colspan="10"></td>
										<td colspan="1">
											<i class="" aria-hidden="true">   </i>
										</td>
										<td colspan="1">
											<i class="" aria-hidden="true">   </i>
										</td>
									</tr>
									<tr style="height:5px">
										<td colspan="10"></td>
										<td colspan="1" style=" text-align:center">
											<i class="" aria-hidden="true"></i>
										</td>
										<td colspan="1" style="text-align:center">
											<i class="" aria-hidden="true"></i>
										</td>
									</tr>
									<tr style="height:10px">
										<td colspan="10"></td>
										<td colspan="1" style=" text-align:center"></td>
										<td colspan="1"></td>				
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</div>
			}
			<article class="content px-4">
				@if (@AppState.ppboolLoggedIn)
				{
					<h3>@AppState.ppstrEmailAddress</h3>
					<h3>@AppState.ppguidGuid</h3>
				}

				@Body
			</article>
		</main>
	</div>
}
@code {
	private Status? status;
	private AssemblyVersion assemblyversion;

	public bool pp_CollapseNavMenu { get; set; }
	private string _CollapseNavMenu => pp_CollapseNavMenu ? "collapse" : null;

	protected override async Task OnInitializedAsync()
	{
		assemblyversion = await AssemblyVersionService.GetstrAssemblyVersion();
		AppState.ppstrAssemblyVersion= assemblyversion.pp_strAssemblyVersion;
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await getInfo();
			StateHasChanged();
		}
	}

	private async Task getInfo()
	{
		AppState.ppboolRegister = await localSession.GetItemAsync<bool>("Register");

		if(Convert.ToBoolean(!AppState.ppboolRegister))
		{
				AppState.SetRegister("Please Register!");
		}
		else
		{
				AppState.SetRegister("");
		}

		AppState.ppboolLoggedIn = await localSession.GetItemAsync<bool>("LoggedIn");
		AppState.ppboolRegister = await localSession.GetItemAsync<bool>("Register");
		AppState.ppstrUserName = await localSession.GetItemAsync<string>("UserName");
		AppState.ppstrEmailAddress = await localSession.GetItemAsync<string>("EmailAddress");
		AppState.ppstrPassword = await localSession.GetItemAsync<string>("Password");
		AppState.ppguidGuid = await localSession.GetItemAsync<Guid>("Guid");

		if (Convert.ToBoolean(!AppState.ppboolLoggedIn))
		{
			AppState.SetLoggedInState(false);
		}
		else
		{
			status = await StatusService.CreateStatusAsync(true);
			status.LoggedIn = await localSession.GetItemAsync<bool>("LoggedIn");
			status.Register = await localSession.GetItemAsync<bool>("Register");
			status.UserName = await localSession.GetItemAsync<string>("UserName");
			status.EmailAddress = await localSession.GetItemAsync<string>("EmailAddress");
			status.Password = await localSession.GetItemAsync<string>("Password");
			status.Guid = await localSession.GetItemAsync<Guid>("Guid");

			AppState.ppboolRegister = status.Register;
			AppState.SetLoggedInState(true);
		}
	}

	private void ToggleNavMenu(bool toggled)
	{
		pp_CollapseNavMenu = toggled;
		if (pp_CollapseNavMenu)
		{
			pp_CollapseNavMenu = !pp_CollapseNavMenu;
			pp_CollapseNavMenu = true;
		}
		else
		{
			pp_CollapseNavMenu = false;
		}
	StateHasChanged();
	}

	private void NavigateToEmail()
	{
		NavigationManager.NavigateTo("email");
	}
		private async Task NavigateToLogout()
	{
		    await localSession.RemoveItemAsync("LoggedIn");
			AppState.SetLoggedInState(false);
			StateHasChanged();
			NavigationManager.NavigateTo("login");
	}
}